<!doctype html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timesheet</title>
</head>
<body>
<h1>Timesheet #<span th:text="${timesheet.id}"></span></h1>
Запись создана: <span th:text="${timesheet.createdAt}"></span><br>
Минут потрачено: <span th:text="${timesheet.minutes}"></span><br>
Название проекта: <a th:href="@{'/home/projects/{id}' (id=${timesheet.projectId})}"><span
        th:text="${timesheet.projectName}"></span></a>
<br>
<br>
<a th:href="@{'/home/timesheets'}">Список Timesheets</a><br>
<a th:href="@{'/home/projects'}">Список проектов</a>


</body>
</html>