<!doctype html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
</head>
<body>
<h1>Project #<span th:text="${project.id}"></span></h1>
Наименование проекта: <span th:text="${project.name}"></span><br>
Список записей времени:<br>
<table>
    <thead>
    <tr>
        <th> Идентификатор записи</th>
        <th> Потрачено минут</th>
        <th> Дата создания</th>
        <th> Идентификатор сотрудника</th>
        <th> Перейти к записи</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="timesheet : ${projectTimesheets}">
        <td><span th:text="${timesheet.id}"></span></td>
        <td><span th:text="${timesheet.minutes}"></span></td>
        <td><span th:text="${timesheet.createdAt}"></span></td>
        <td><span th:text="${timesheet.employeeId}"></span></td>
        <td><a th:href="@{'/timesheets/{id}' (id=${timesheet.id})}"> Перейти к записи</a></td>
    </tr>
    </tbody>
</table>

Список сотрудников проекта:<br>
<table>
    <thead>
    <tr>
        <th> Идентификатор сотрудника</th>
        <th> ФИО сотрудника</th>
        <th> Числится в штате</th>
        <th> Перейти в карту сотрудника</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${projectEmployees}">
        <td><span th:text="${employee.employeeId}"></span></td>
        <td><span th:text="${employee.fullName}"></span></td>
        <td><span th:text="${employee.stillWork}"></span> </td>
        <td><a th:href="@{'/employees/{id}' (id=${employee.employeeId})}">Перейти к сотруднику</a></td>
    </tr>
    </tbody>
</table>


<br>
<br>
<a th:href="@{'/timesheets'}">Список Timesheets</a><br>
<a th:href="@{'/projects'}">Список проектов</a><br>
<a th:href="@{'/employees'}">Список сотрудников</a><br>


</body>
</html>